
<ion-view view-title="ADN" class="Vista-ADN">>
	<ion-content has-subheader="false" class="Vista-ADN">
		<div class="row">
			<div class="col text-center" >
				<div style="background: rgba(0,0,0,0.9);">
					<div id="stage">
					  <div id="spinner" style="text-align: center; color: #fff;">
					    <h1><span class="blue">1</span><span>_____________ </span><span class="pink">1</span></h1>

					    <h1><span class="blue">2</span><span>_____________ </span><span class="pink">2</span></h1>

					    <h1><span class="blue">3</span><span>_____________ </span><span class="pink">3</span></h1>
					    <h1><span class="blue">4</span><span>_____________ </span><span class="pink">4</span></h1>

					    <h1><span class="blue">4</span><span>_____________ </span><span class="pink">5</span></h1>

					    <h1><span class="blue">6</span><span>_____________ </span><span class="pink">6</span></h1>
					    <h1><span class="blue">7</span><span>_____________ </span><span class="pink">7</span></h1>

					    <h1><span class="blue">8</span><span>_____________ </span><span class="pink">8</span></h1>

					    <h1><span class="blue">9</span><span>_____________ </span><span class="pink">9</span></h1>

					  </div>
					</div>
		</div>
	</ion-content>
</ion-view>
