<ion-view view-title="Biologia">
  <ion-content class="padding">
    <h2>BIENVENIDOS</h2>
    <p>
    El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.

Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua. 
    <a href="http://market.ionic.io/starters" target="_blank" rel="noopener">Ionic Market</a>.
    </p>
    <p>
      El ser humano necesita muchísima agua potable para su propia existencia, pero apenas unos litros de agua serían necesarios, los justos para beber, hidratarse y asearse, regar las plantas…etc”

Pero en cambio, el ser humano tiende a abusar de este rico elemento en perjuicio de su propia especie y en perjuicio de su propia existencia así como la del resto de habitantes de la Tierra. Se dice que el ser humano puede llegar a necesitar hasta 500 litros de agua potable al día, lo que supone un derroche extremadamente excesivo. De ahí que le estemos dando tanta importancia al agua para el desarrollo de la vida en el planeta. <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
    El agua no solo es importante como recurso vital sino también como recurso económico e industrial, ya que se usa en innumerables actividades industriales, supone un consumo elevado y casi siempre resulta contaminada”.
    Vamos a ver porqué el agua resulta tan importante para la vida. Fuera del mar, el agua potable es apenas solo un 1 por ciento de todo el agua existente, el 96 por ciento restante es agua salada que se encuentra en los mares, y el tres por ciento que falta es el agua que se encuentra en los polos en forma de hielo.
Y aunque parezca que llueve a menudo y que disponemos de forma muy gratuita e ilimitada del agua, es todo lo contrario. La tierra cada vez está mas caliente, la desertización va creciendo en zonas que antes gozaban de ríos y pantanos, y la imposibilidad de poder cultivar y regar la tierra se está convirtiendo en el principal problema de hambre a nivel mundial.<a href="http://forum.ionicframework.com" target="_blank" rel="noopener">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank" rel="noopener">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
  </ion-content>
</ion-view>
